
.navbar {
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-comm {
  color: #fff;
  background-color: #003366;
  border-color: #002040;
  min-height: auto;
}

.navbar-title {
  color: #fff;
  background-color: #003366;
  border-color: #003366;
}

.navbar-brand {
  padding: 13.5px 15px 12.5px;
  color: #fff;
}

.navbar-brand > img {
  display: inline;
  margin: 0 10px;
  height: 100%;
}

.navbar-nav a {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

.pat-icon {
  margin: 0 10px;
}

.pat-title {
  font-weight: bold;
  font-size: 24px;
}
