.text-span {
  min-height:30px;
}

/* footer */
.footer {
  background-color:#333333;
  width:100%;
  text-align: left;
  height: 300px;
}

.footer .copyright {
  padding: 20px 0px;
  width: 1200px;
  margin: 0px auto;
}

.footer .copyright .big a{
  font-size:16px;
  line-height: 24px;
  display: inline-block;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

.footer .copyright .big a:hover{
  color:#00a2ca;
}

.footer .copyright .link a {
  line-height: 21px;
  display: inline-block;
  margin-right: 10px;
  color: #999999;
  text-decoration: none;
}

.footer .copyright .link a:hover{
  color:#00a2ca;
}

.footer .copyright .info span{
  font-size: 14px;
  line-height: 21px;
  color:#999999;
  display: block;
}

.footer .copyright .info a {
  font-size:14px;
  line-height: 21px;
  display: inline-block;
  color: #999999;
  text-decoration: none;
}

.footer .copyright .info a:hover{
  color:#00a2ca;
}

.miit-logo {
  float: left;
  width: 20px;
}