<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="pat-frame">
  <div class="pat-module">
    <div class="head">
      <h1>角色设定</h1>
    </div>

    <div class="ui-g">

      <div class="ui-g-12">

        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button type="button" pButton icon="fa-plus" (click)="doAdd()" label="添加角色"></button>
            <button type="button" pButton icon="fa-minus" (click)="doRemove()" label="删除角色" [disabled]="curRole.value&lt;4"></button>
          </div>

        </p-toolbar>
      </div>
      <div class="ui-g-6">
        <p-dataTable [value]="roleList" [(selection)]="curRole" selectionMode="single" dataKey="value" scrollable="true" scrollHeight="420px"
            [style]="{'margin':'4px'}">
          <p-header>
            <div>角色列表</div>
          </p-header>
          <p-column field="value" header="ID"></p-column>
          <p-column field="label" header="名称"></p-column>
        </p-dataTable>
      </div>

      <div class="ui-g-6">
          <p-dataTable [value]="funcList" [(selection)]="curRole.func" dataKey="value" scrollable="true" scrollHeight="420px"
            [style]="{'margin':'4px'}">
          <p-header><div>权限列表</div></p-header>
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
          <p-column field="group" header="功能组"></p-column>
          <p-column field="value" header="权限名称"></p-column>
        </p-dataTable>
      </div>

      <div class="ui-g-12">
        {{curIndex}}
      </div>

    </div>

  </div>
</div>

<p-dialog header="添加角色" [(visible)]="dlg.show" modal="true" width="480">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3">
      <label for="text">角色名称:</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="text" [(ngModel)]="dlg.text" placeholder="角色名称" />
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="dlg.show=false" label="取消"></button>
      <button type="button" pButton icon="fa-check" (click)="doAddOK()" label="保存"></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog icon='fa fa-question-circle'></p-confirmDialog>