<div class="topbar bgnormal">
  <div class="left">
      <div class="area logo">
          <a href="#/home">
              <img src="assets/images/logo-nav.png" style="position: relative; top:-5px"/>
              <span>律政派拓源</span>
              <!-- 
              <i class="fas fa-square" style="color:darkgray; font-size:42px; position:absolute; left:0px; top:0px;"></i>
              <i class="far fa-star" style="color:black; font-size:32px; position:absolute; left:0px; top:5px; "></i> 
              -->
          </a>
      </div>

      <!--
      <div class="area">
          <a href="console.html">管理控制台</a>
      </div>

      <div class="area">
          <a href="console.html">管理控制台</a>
      </div>
      -->
  </div>

  <div class="right">
      <div class="area bghover">
          <div class="search" id="topbarSearch">
              <input type="text" placeholder="搜索" onfocus="$(topbarSearch).addClass('active')" onblur="$(topbarSearch).removeClass('active')"
              />
              <i class="fa fa-search"></i>
          </div>
      </div>

      <app-topbar-notice class="area bghover"></app-topbar-notice>

      <app-topbar-user class="area bghover"></app-topbar-user>
  </div>


</div>
