.bgnormal{
    background-color: #003366;
}

.bgdark{
    background-color: #001133;
}

.bghover{
    background-color: #003366;
}

.bghover:hover{
    background-color: #001133;
}

.bglight{
    background-color: #004488;
}

.topbar {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    z-index: 100;
}

.topbar .left {
    float: left;
}

.topbar .right {
    float: right;
}

.topbar .area {
    line-height: 50px;
    height: 50px;
    margin: 0px 2px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 0px 12px;
    cursor: pointer;
    color: lightgrey;
    position: relative;
}

.topbar .area a {
    color: lightgrey;
    text-decoration-line: none;
}

.topbar .area a:hover {
    color: white;
}

.topbar .area>ul {
    position: absolute;
    list-style: none;
    top: 100%;
    right: 0px;
    width: 140px;
    overflow: hidden;
    color: black;
    background: white;
    z-index: 10;
    border: 1px solid darkgray;
    text-align: left;
    padding: 0px;
    transition: height 0.2s ease;
}

.topbar .area.hide-menu>ul {
    border: none;
    height: 0!important;
}

.topbar .area>ul>li {
    position: relative;
    line-height: 40px;
}

.topbar .area>ul>li>.separ {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background: lightgray;
}

.topbar .area>ul>li>a {
    display: block;
    padding: 0px 16px;
    color: black;
}

.topbar .area>ul>li>a:hover {
    background-color: lightgray;
    color: black;
}

.topbar .logo {
    width: auto;
    height: 50px;
    padding: 4px;
}

.topbar .logo span {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.topbar .logo a, .topbar .notice a {
    display: block;
    position: relative;
}


.topbar .area .user {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    vertical-align: middle;
}

.topbar .search {
    width: 160px;
    position: relative;
    line-height: 26px;
    border: 1px solid darkgrey;
    margin: 12px 0px;
    text-align: left;
    transition: width 0.2s ease;
}

.topbar .search:hover, .topbar .search.active {
    border-color: aqua;
    width: 280px;
}

.topbar .search input {
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 0px 12px;
    border: none;
    background-color: transparent;
    color: #fff;
}

.topbar .search i {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 32px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    border-left: 1px solid darkgray;
    ;
}

.topbar .search:hover i {
    color: white;
}

