<div class="bg-wrapper" id="bg-wrapper">
  <div id="bg-image" class="bg-image" style="opacity:1;background-image: url('/assets/images/meeting.jpg')"></div>
  <div class="cover"></div>
</div>

<div class="m-search-main">
  <div class="m-search">
    <div class="m-search-log">
      <p>大数据智彗时代 我们与您同行</p>
    </div>
    <div class="m-search-input">
      <input type="text" required [(ngModel)]="searchKeyword" class="m-search-input-input placeholder" name="q" placeholder="请输入检索关键字" autofocus="">
      <i (click)="doClear()" class="fa fa-times-circle fa-lg clean_icon"></i>
    </div>
    <button (click)="doSearch()" class="m-search-submit"><i class="fa fa-search fa-2x"></i></button>
  </div>
</div>

<app-footer></app-footer>