<style>

</style>

<app-header></app-header>
<app-navmenu></app-navmenu>

<div class="pat-desk">
    <div class="pat-module">
        <div class="head">
            <h1>文件管理</h1>
        </div>

        <div class="main">
            <p-tabView>
                <p-tabPanel header="服务器文件">
                    <div style="min-height:640px">
                        服务器文件列表
                    </div>
                </p-tabPanel>
                <p-tabPanel header="上传文件">
                    <div class="row"  style="min-height:640px">

                        <div class="col-md-3">
                            <h3>选择文件</h3>
                            <input type="file" ng2FileSelect [uploader]="uploader" multiple />
                        </div>

                        <div class="col-md-9" style="margin-bottom: 40px">

                            <h3>上传列表</h3>
                            <p>等待上传的文件数量: {{ uploader?.queue?.length }}</p>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="50%">文件名</th>
                                        <th>大小</th>
                                        <th>上传进度</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <td>
                                            <strong>{{ item?.file?.name }}</strong>
                                            
                                        </td>
                                        <td *ngIf="uploader.options.isHTML5" nowrap>
                                            <span *ngIf="item?.file?.size<(1024*1024)">{{ item?.file?.size/1024 | number:'.1' }} KB</span>
                                            <span *ngIf="item?.file?.size>=(1024*1024)">{{ item?.file?.size/1024/1024 | number:'.1' }} MB</span>
                                        </td>
                                        <td *ngIf="uploader.options.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="item.isSuccess">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>
                                            <span *ngIf="item.isCancel">
                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                            </span>
                                            <span *ngIf="item.isError">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </span>
                                        </td>
                                        <td nowrap>
                                            
                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> 上传
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> 移除
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    上传进度:
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> 上传所有
                                </button>
                                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> 取消所有
                                </button>
                                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> 移除所有
                                </button>
                            </div>

                        </div>

                    </div>

                </p-tabPanel>
            </p-tabView>





        </div>
    </div>
</div>

<app-footer></app-footer>