<app-topbar></app-topbar>
<app-sidebar actGroup="会员资料"></app-sidebar>

<div class="pat-frame">
  <div class="pat-module">
    <div class="head">
      <h1>基本资料</h1>
    </div>

    <div class="basc-info">
      <div class="group-title">基本信息</div>
      <div class="group-detail">
        <div class="group-item">
          <label>会员身份:</label>
          <span>个人用户</span>
        </div>
        <div class="group-item">
          <label>帐户名称:</label>
          <span>puyd</span>
        </div>
        <div class="group-item">
            <label>昵称:</label>
            <input type="text" value="puyd" style="width:240px"/>
          </div>
      </div>

      <div class="group-title">业务信息</div>
      <div class="group-detail">
        <div class="group-item">
          <label>主要行业应用:</label>
          <select style="width:480px">
            <option value="0">实体零售与批发</option>
            <option value="1">电子商务</option>
            <option value="2">物流和仓储</option>
            <option value="3">旅行、文化、体育和娱乐</option>
            <option value="4">服饰鞋帽、文教和体育用品</option>
            <option value="5">家用电器</option>
            <option value="6">食品、饮料和烟草</option>
            <option value="7">农业综合</option>
            <option value="8">钢铁制造</option>
            <option value="9">设备制造</option>
            <option value="10">通用工业品制造</option>
            <option value="11">汽车、汽车配件和服务</option>
            <option value="12">房地产和建筑</option>
            <option value="13">银行</option>
            <option value="14">保险</option>
            <option value="15">证券和资本市场</option>
            <option value="16">金融服务</option>
            <option value="17">通讯和运营商</option>
            <option value="18">媒体</option>
            <option value="19">计算机硬件设备</option>
            <option value="20" selected="selected">计算机软件和服务</option>
            <option value="21">互联网游戏</option>
            <option value="22">互联网服务</option>
            <option value="23">物联网技术和服务</option>
            <option value="24">智能消费品</option>
            <option value="25">人工智能</option>
            <option value="26">电网</option>
            <option value="27">石油石化</option>
            <option value="28">不可再生能源</option>
            <option value="29">新能源和可再生能源</option>
            <option value="30">化工</option>
            <option value="31">政府</option>
            <option value="32">军事工业</option>
            <option value="33">医疗健康</option>
            <option value="34">教育和科研机构</option>
            <option value="35">交通运输</option>
            <option value="36">公共服务</option>
          </select>
        </div>
        <div class="group-item">
          <label>主营业务:</label>
          <input type="text" value="软件开发" style="width:480px"/>
        </div>
        <div class="group-item">
          <label>网址:</label>
          <input type="text" value="http://www.puyd.com" style="width:480px"/>
        </div>
      </div>

    </div>
  </div>
</div>