.pat-list .u-toolbar{height:35px;margin-bottom:15px;position: relative}
.pat-list .u-toolbar p.return{background-color: #1976D2;
    color: #fff;
    border: 1px solid #1976D2;
    float: right;
    border-radius: 3px;
    line-height: 30px;
    padding: 0 8px;
    cursor: pointer;
    margin-right: 10px;}

.u-filter-containter {
  padding:10px;border:1px solid #ccc;margin-bottom:0px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  margin-right:58px;
}

.btn-group a{margin-right: 0;}

.pat-list .u-list{position: relative; top: 120px;}

.pat-item {
  margin: 0;
}
.pat-item .pat-header {
  margin-bottom: 5px;
}
.pat-item .pat-body {
  padding-left: 0;
  padding-right: 0;
}
.pat-item .pat-header .pat-img {
  float: left;
  min-width: 175px;
  min-height: 170px;
}
.pat-item .pat-header .pat-img > img {
  width:169px;
  height:165px;
  border:1px solid #ccc
}
.pat-item .pat-header .pat-content {
  float: left;
  min-height: 170px;
}

/*end*/
