<div class="container-fluid fr-main">
  <div class="row fr-disp">

    <div class="col-xs-2 fr-left">
      <div class="list-group">
        <a href="#" class="list-group-item active">筛选项</a>
        <div>
          <a href="#" *ngFor="let fi of filter_items" class="list-group-item">{{fi.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-xs-10 fr-right pat-list">

      <div class="panel panel-primary">

          <div *ngIf="error" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>* (E{{error.status}}): {{error.message}} </strong>
          </div>

        <div class="panel-heading">
          <span class="panel-title">二次检索</span>
        </div>

        <div class="panel-body">
          <div *ngFor="let item of searchKeys; let i=index" class="row" style="margin:4px 8px; width:60%">
            <select class="col-lg-3 ui-select" [(ngModel)]="item.field" style="height:28px">
              <option *ngFor="let f of searchFields" [ngValue]="f">{{f.title}} </option>
            </select>

            <select class="col-lg-1 ui-select" [(ngModel)]="item.op" style="height:28px">
              <option>AND</option>
              <option>OR</option>
              <option>NOT</option>
            </select>

            <input type="text" class="col-lg-7 ui-text" [(ngModel)]="item.value" style="height:28px" />

            <i *ngIf="i==0 && searchKeys.length<5" class="col-lg-1 fa fa-plus-circle fa-2x iconfont-plus" (click)="addField()">&nbsp;</i>
            <i *ngIf="i>0" class="col-lg-1 fa fa-minus-circle fa-2x iconfont-plus" (click)="removeField()">&nbsp;</i>

          </div>
        </div>

        <div class="panel-footer">
          <div id="filter_container" class="u-filter-containter">
            <div *ngFor="let item of exp.getDisplay(); let id=index" style="display:inline-block; padding:4px; margin:4px;  border-width:1px; border-style:solid; border-color:gray" >
              {{item.join(' ')}}
              <i *ngIf="id>0" class="fa fa-times fa-lg iconfont-plus" (click)="delSecGroup(id)">&nbsp;</i>
            </div>
            <div *ngIf=(getDisplay()) style="display:inline-block; padding:4px; margin:4px;  border-width:1px; border-style:solid; border-color:gray" >
              {{getDisplay()}}
              <i class="fa fa-times fa-lg iconfont-plus" (click)="clear()">&nbsp;</i>
            </div>
          </div>

          <a class="btn btn-default" (click)="doSearch()">
            <i class="fa fa-search fa-lg"></i>
            过滤
          </a>
          <a class="btn btn-default" (click)="clear()">
              <i class="fa fa-close fa-lg"></i>
              清除
          </a>

        </div>

      </div>

      <!-- Patent List -->
      <div class="list-group">
        <div class="list-group-item active">

          <div class="dropdown" style="display:inline-block">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{viewModeDesc[viewMode]}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let item of viewModeDesc; let vi=index">
                <a (click)="setViewMode(vi)">{{item}}</a>
              </li>
            </ul>
          </div>

          <div class="dropdown" style="display:inline-block">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{sortModeDesc[sortMode]}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let item of sortModeDesc; let vi=index">
                <a (click)="setSortMode(vi)">{{item}}</a>
              </li>
            </ul>
          </div>

          <div style="display:inline-block; font-size:24px; margin-left:32px; vertical-align:middle; ">
              <span *ngFor="let item of pages">
                <a  *ngIf="item.from!=sf1.from"  (click)="doPage(item.from)" style="color:#000000; cursor:pointer">{{item.id}}</a>
                <span  *ngIf="item.from==sf1.from" style="color:#ffffff; cursor:pointer">{{item.id}}</span>
              </span>
          </div>
        </div>

        <div *ngIf="sf1.results" [ngSwitch]="viewMode">

          <table *ngSwitchCase="0" class="table">
            <tr>
              <th>
                <input type="checkbox" />
              </th>
              <th>序号</th>
              <th>申请号</th>
              <th>专利名称</th>
              <th>公开（公告）号</th>
              <th>公开（公告）日</th>
              <th>申请日</th>
              <th>申请(专利权)人</th>
              <th>发明人</th>
              <th>法律信息</th>
            </tr>
            <tr *ngFor="let item of sf1.results; let idx=index">
              <td>
                <input type="checkbox" />
              </td>
              <td>{{idx+1}}</td>
              <td>{{item.appNumber}}</td>
              <td>{{item.title}}</td>
              <td>{{item.pubNumber}}</td>
              <td>{{item.pubDate}}</td>
              <td>{{item.appDate}}</td>
              <td>{{item.applicantName}}</td>
              <td>{{item.inventroName}}</td>
              <td>{{item.lprs}}</td>
            </tr>
          </table>

          <div *ngSwitchCase="1">
            <div *ngFor="let item of sf1.results; let idx=index" class="list-group-item pat-item">
              <div class="pat-header">
                <span class="num">{{idx + 1}} </span>[{{getDbName(item.dbName)}}]
                <a href="#" class="c-blue" target="_blank">{{item.appNumber}}</a>
                <a href="" target="_blank" class="c-blue title">{{item.title}}</a>
                <span class="label label-warning">{{item.lprs}}</span>
                <div class="translatetitle"></div>
              </div>
              <div class="container-fluid pat-body">
                <div class="row">
                  <div class="col-xs-2 pat-img">
                    <img class="lazyload" style="width:169px;height:165px;border:1px solid #ccc" src="{{item.draws}}">
                  </div>
                  <div class="col-xs-10 pat-content container-fluid">
                    <div class="row">
                      <div class="col-xs-4">
                        <p>
                          <strong>公开（公告）号：</strong>
                          <a href="#" class="c-blue" target="_blank">{{item.pubNumber}}</a>
                        </p>
                      </div>
                      <div class="col-xs-8">
                        <p>
                          <strong>申请（专利权）人：</strong>
                          <a href="#" target="_blank" class="">{{item.applicantName}}</a>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-4">
                        <p>
                          <strong>申请日：</strong>
                          <a href="#" target="_blank">{{item.appDate}}</a>
                        </p>

                      </div>
                      <div class="col-xs-8">
                        <p>
                          <strong>主分类号：</strong>
                          <a href="#" target="_blank">{{item.mainIpc}}</a>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-4">
                        <p>
                          <strong>公开（公告）日：</strong>
                          <a href="#" target="_blank">{{item.pubDate}}</a>
                        </p>
                      </div>
                      <div class="col-xs-8">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <strong>摘要：</strong>{{item.abs}}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>



          <div *ngSwitchCase="2">
          </div>


        </div>

      </div>
    </div>

  </div>
</div>
