<div (mouseenter)="userOnMouseEnter($event)" (mouseleave)="userOnMouseLeave($event)" [ngClass]="{'hide-menu':!user.hover}">
  <img class="user" src="assets/images/user.svg" />

  <div class="user-panel">
    <div class="top">
      <img class="user" src="assets/images/user.svg" />
      <p>puyd@163.com</p>
    </div>
    <div class="body">
      <a href="#/user/userinfo">
        <i class="fa fa-address-card"></i>
        <span>基本资料</span>
      </a>

      <a href="#/user/realname">
        <i class="fa fa-address-card"></i>
        <span>实名认证</span>
      </a>

      <a href="#/user/security">
        <i class="fa fa-address-card"></i>
        <span>账户安全</span>
      </a>

      <a href="#/user/bind">
        <i class="fa fa-address-card"></i>
        <span>账户绑定</span>
      </a>
      <a href="#/user/point">
        <i class="fa fa-address-card"></i>
        <span>会员积分</span>
      </a>
      <a href="#/user/task">
        <i class="fa fa-address-card"></i>
        <span>我的任务</span>
      </a>

    </div>
    <div class="bottom">
      <a href="#/home">退出系统</a>
    </div>

  </div>
</div>