<div class="topbar bgnormal">
  <div class="left">
      <div class="area logo">
          <a href="#/home">
              <img src="assets/images/logo-nav.png" style="position: relative; top:-5px"/>
              <span>律政派拓源</span>
              <!-- 
              <i class="fas fa-square" style="color:darkgray; font-size:42px; position:absolute; left:0px; top:0px;"></i>
              <i class="far fa-star" style="color:black; font-size:32px; position:absolute; left:0px; top:5px; "></i> 
              -->
          </a>
      </div>

      <!--
      <div class="area">
          <a href="console.html">管理控制台</a>
      </div>

      <div class="area">
          <a href="console.html">管理控制台</a>
      </div>
      -->
  </div>

  <div class="right">
      <div class="area bghover">
          <div class="search" id="topbarSearch">
              <input type="text" placeholder="搜索" onfocus="$(topbarSearch).addClass('active')" onblur="$(topbarSearch).removeClass('active')"
              />
              <i class="fas fa-search"></i>
          </div>
      </div>

      <div class="area bghover notice hide-menu">
          <a href="#">
              <i class="fas fa-bell"></i>
              <span class="notice-num">4</span>
          </a>

          <div class="notice-panel">
              <div class="arrow"></div>
              <div class="wrap">
                  <div class="notice-header">
                      <span>站内消息通知</span>
                      <a href="#">消息接收管理</a>
                  </div>

                  <ul>
                      <li class="">
                          <a href="#">
                              <span class="notice-link">【开年首推】采购季全站大发送，多重优惠享不停！</span>
                              <span class="notice-time">2018-03-13 18:36</span>
                          </a>
                      </li>
                      <li class="">
                          <a href="#">
                              <span class="notice-link">【开年首推】采购季全站大发送，多重优惠享不停！</span>
                              <span class="notice-time">2018-03-13 18:36</span>
                          </a>
                      </li>
                      <li class="">
                          <a href="#">
                              <span class="notice-link">【开年首推】采购季全站大发送，多重优惠享不停！</span>
                              <span class="notice-time">2018-03-13 18:36</span>
                          </a>
                      </li>
                      <li class="">
                          <a href="#">
                              <span class="notice-link">【开年首推】采购季全站大发送，多重优惠享不停！</span>
                              <span class="notice-time">2018-03-13 18:36</span>
                          </a>
                      </li>
                  </ul>
                  <div class="bottom">
                      <a href="#">查看更多</a>
                  </div>

              </div>
          </div>
      </div>

      <!--
      <div class="area hide-menu">
          <a href="#">快捷菜单</a>
          <ul style="height:160px">
              <li>
                  <a href="#">快捷方式1</a>
              </li>
              <li>
                  <a href="#">快捷方式2</a>
              </li>
              <li>
                  <a href="#">快捷方式3</a>
              </li>
              <li>
                  <span class="separ"></span>
                  <a href="#">快捷方式4</a>
              </li>
          </ul>
      </div>

      <div class="area hide-menu">
          <a href="#">快捷菜单</a>
          <ul style="height:160px">
              <li>
                  <a href="#">快捷方式1</a>
              </li>
              <li>
                  <a href="#">快捷方式2</a>
              </li>
              <li>
                  <a href="#">快捷方式3</a>
              </li>
              <li>
                  <span class="separ"></span>
                  <a href="#">快捷方式4</a>
              </li>
          </ul>
      </div>

      <div class="area hide-menu">
          <a href="#">快捷菜单</a>
          <ul style="height:120px">
              <li>
                  <a href="#">快捷方式1</a>
              </li>
              <li>
                  <a href="#">快捷方式2</a>
              </li>
              <li>
                  <span class="separ"></span>
                  <a href="#">快捷方式3</a>
              </li>
          </ul>
      </div>
      -->

      <div class="area bghover hide-menu">
          <img class="user" src="./res/user.svg" />
          <div class="user-panel">
              <div class="top">
                  <img class="user" src="./res/user.svg" />
                  <p>puyd@163.com</p>
              </div>
              <div class="body">
                  <a href="#">
                      <i class="fas fa-address-card"></i>
                      <span>基本资料</span>
                  </a>

                  <a href="#">
                      <i class="fas fa-address-card"></i>
                      <span>实名认证</span>
                  </a>

                  <a href="#">
                      <i class="fas fa-address-card"></i>
                      <span>账户安全</span>
                  </a>

                  <a href="#">
                      <i class="fas fa-address-card"></i>
                      <span>账户绑定</span>
                  </a>
                  <a href="#">
                      <i class="fas fa-address-card"></i>
                      <span>会员积分</span>
                  </a>
                  <a href="#">
                      <i class="fas fa-address-card"></i>
                      <span>我的任务</span>
                  </a>

              </div>
              <div class="bottom">
                  <a href="index.html">退出系统</a>
              </div>

          </div>
      </div>
  </div>


</div>
