<app-header></app-header>

<div class="pat-desk">
  <div class="pat-menu">
    <ul class="nav navbar-nav">
      <li>
        <a href="">首页</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">专利检索
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="#" routerLinkActive="active">简单检索</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">高级检索</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">检索文件夹</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">专有库</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">专利报告
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="#" routerLinkActive="active">报告文件夹</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">报告上传</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">案件管理
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="#" routerLinkActive="active">案件跟踪</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">案件处置</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">应收应付</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">案件评价</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">案件售后</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">统计分析</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">会员资料
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="#" routerLinkActive="active">基本资料</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">实名认证</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">联系方法</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">帐户安全</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">帐号绑定</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">会员积分</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">我的任务</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">消息邮件</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">系统维护
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="#" routerLinkActive="active">会员维护</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">角色维护</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">授权项目</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">会员任务</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">宣传图片</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">主营业务</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">友情链接</a>
          </li>
        </ul>
      </li>

    </ul>

  </div>

</div>

<app-footer></app-footer>
