

/* module */
.pat-module {
  background: url(/assets/images/desk/bg1.jpg) repeat-y;
}

.pat-module .main .cell {
  display: inline-block;
  min-width: 300px;
  height: 240px;
  margin: 10px 0px;
  text-align: center;
  border: #00a2ca solid 1px;
  vertical-align: top;
}

.pat-module .main .cell>a {
  display: block;
  width: 100px;
  margin: 0px auto;
  text-decoration: none;
}

.pat-module .main .cell>a h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.pat-module .main .cell>a h2:hover{
  color: #00a2ca;
}

.pat-module .main .cell .image {
  background-position: 0px 0px;
  background-size: 75px;
  height: 75px;
  width: 75px;
  margin: 0px auto;

}

/* .pat-module .main .cell .image:hover {
  background-position: 0px -4425px;
} */

.pat-module .main .cell .list{
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  display: block;
}

.pat-module .main .cell .list li{
  display: inline-block;
  text-align: center;
  color: rgb(51, 51, 51);
}

.pat-module .main .cell .list a{
  color: #000;
  text-decoration: none;
}

.pat-module .main .cell .list a:hover{
  color: #00a2ca;
}
