<p-dialog header="服务权限设置" [(visible)]="show" showEffect="fade" [modal]="true" [width]="512">
    <p-dataTable [value]="data" [rows]="15" [paginator]="true" [pageLinks]="10"  resizableColumns="true">

      <p-column field="group" header="分组"></p-column>
      <p-column field="item" header="功能"></p-column>
      <p-column field="active" header="启用"></p-column>
      <p-column field="data" header="使用期限"></p-column>

    </p-dataTable>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton  icon="fa-close" (click)="cancel()" label="取消"></button>
          <button type="button" pButton  icon="fa-check" (click)="onSave()" label="确定"></button>
        </div>
    </p-footer>
</p-dialog>