/* complex search */
.fr-main{
  width:100%;
  padding-left: 180px;
}

.fr-disp{
  margin: 4px;
  padding: 64px 0px;
}

.fr-left .cs-database-list {
  padding-left: 10px;
}

.panel {
  margin-bottom: 6px;
}
.panel-heading {
  padding: 5px 10px;
}
.panel-body {
  padding: 5px 10px;
}
.panel-body > ul {
  padding-left: 10px;
  margin-bottom: 0;
}

.m-expr {
  /* position: absolute; */
  /* max-height: 100%!important; */
  width: 100%;
  padding-right: 10px;
}

.control-label {
  text-align: right;
  margin-top: 10px;
}

.form-padding {
  padding-left: 2px;
  padding-right: 2px;
}

.ui-select {
  border: 1px solid #e0e0e0;
  float: left;
  width: 100%;
  cursor: pointer;
  height: 32px;
  box-sizing: border-box;
  background: #fff;
  color: #7d7d7d;
}
.form-group .between .to {
  width: 31px;
  text-align: center;
  float: left;
  display: block;
  position: relative;
  top: 6px;
  font-weight: 700;
}
.between .ui-text {
  width: 200px;
  display: block;
}
.ui-text {
  width: 100%;
  height: 32px;
  line-height: 18px;
  padding: 1px 0;
  border: 1px solid #e0e0e0;
  float: left;
  margin-left: -1px;
  outline: none;
  border-radius: 0 2px 2px 0;
}
.iconfont-plus {
  color: #1976D2;
  font-size: 24px;
  cursor: pointer;
  padding-top: 5px;
}
.p-calendar{
  font-size: 14px;
  display: block;
  float: left;
}
body .ui-calendar{
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 32px;
}
body .ui-datepicker{
  font-size: 14px;
  width: 100%;
  height: 32px;
}
