<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="pat-frame">
  <div class="pat-module">
    <div class="head">
      <h1>会员维护</h1>
    </div>

    <p-dataTable [value]="list" [rows]="20" [paginator]="true" [pageLinks]="10"  [(selection)]="curItems" [(first)]="first"
      resizableColumns="true" datakey="id" >
        <p-header >
          <div style="text-align: left;">会员列表</div>
        </p-header>
        <p-footer >
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton style="float:left" icon="fa-plus" label="新增" (click)="addItem()">
            </button>

            <button type="button" pButton style="float:left" icon="fa-minus" label="删除" (click)="delItems()" 
              [disabled]="curItems.length==0"  >
            </button>
          </div>
        </p-footer>

        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="id" header="ID"></p-column>
        <p-column field="name" header="姓名"></p-column>
        <p-column field="code" header="手机号"></p-column>
        <p-column field="mail" header="邮件地址"></p-column>
        <p-column field="roles" header="角色"></p-column>

        <p-column styleClass="col-button" [style]="{'width':'48px'}">
            <ng-template let-item="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-edit"  (click)="editItem(item)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
   
  </div>
</div>

<p-dialog header="会员信息" [(visible)]="editor.show" showEffect="fade" [modal]="true" [width]="512">
  <div class="ui-grid ui-grid-responsive ui-fluid" style="overflow-y:scroll">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="id">ID</label></div>
      <div class="ui-grid-col-10"><input pInputText id="id" [(ngModel)]="editor.data.id" readonly /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="name">姓名</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="editor.data.name" /></div>
      <div class="ui-grid-col-2"><p-dropdown [options]="sexList" [(ngModel)]="editor.data.sex" [style]="{'width':'100%'}" ></p-dropdown></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="code">手机号</label></div>
      <div class="ui-grid-col-10"><input pInputText id="code" [(ngModel)]="editor.data.code" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="mail">邮件地址</label></div>
      <div class="ui-grid-col-10"><input pInputText id="mail" [(ngModel)]="editor.data.mail" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="role">角色</label></div>
      <div class="ui-grid-col-10">
        <!-- <p-multiSelect id="role" [options]="roleList" [(ngModel)]="editor.data.role" [filter]="false" [style]="{'width':'100%'}"></p-multiSelect> -->
        <p-listbox id="role" [options]="roleList" [(ngModel)]="editor.data.role" multiple="multiple" checkbox="checkbox" ></p-listbox>
      </div>
    </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton  icon="fa-close" (click)="cancel()" label="取消"></button>
        <button type="button" pButton  icon="fa-check" (click)="save()" label="保存"></button>
      </div>
  </p-footer>
</p-dialog>
