<div class="team container">
    <span class="team-title">&nbsp;&nbsp;企业团队&nbsp;&nbsp;</span><br>
    <div class="row team-intro">
      <span>覆盖电子信息、生物医药、节能环保、机械、新材料、自动化等多领域的顶尖专家团队</span>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 team-pic"></div>
    </div>
    <div class="row team-leaders">
        <div class="col-md-2 col-md-offset-2 leader-info">
            <img src="http://www.zhiguagua.com/static/v2.2/land/img/new/sn4-list.png?v=1dc3f8c2ffcb5f950ad8c608c7731f99" alt="" class=" ">
            <p class="name">李寻欢</p>
            <p class="text">国际知识产权研究会会员<br>专利信息可视化专家<br>专利检索与分析专家</p>
        </div>
        <div class="col-md-2 leader-info">
            <img src="http://www.zhiguagua.com/static/v2.2/land/img/new/sn4-list2.png?v=577a76dbdaa5282ec4281ca4110f5ed3" alt="" class=" ">
            <p class="name">王二小</p>
            <p class="text">亚洲知识产权专家<br>资深专利代理人<br>资深知识产权律师</p>
        </div>
        <div class="col-md-2 leader-info">
            <img src="http://www.zhiguagua.com/static/v2.2/land/img/new/sn4-list3.png?v=a942431d00a7d3390d028633c86cd9bc" alt="" class=" ">
            <p class="name">李大麻</p>
            <p class="text">中国专利协会执行委员会委员<br>专利分析布局及设计专家<br>国际专利战略部署专家</p>
        </div>
        <div class="col-md-2 leader-info">
            <img src="http://www.zhiguagua.com/static/v2.2/land/img/new/sn4-list4.png?v=79458ad550636c599f6418961b371c0a" alt="" class=" ">
            <p class="name">孙权</p>
            <p class="text">专利研究院副院长<br>专利事务服务业务专家<br>专利审查流程专家</p>
        </div>
    </div>
</div>
