<app-topbar></app-topbar>
<app-sidebar actGroup="系统维护"></app-sidebar>

<div class="pat-frame">
  <div class="pat-module">
    <div class="head">
      <h1>外部链接</h1>
    </div>

    <p-dataTable [value]="list" [rows]="20" [paginator]="true" [pageLinks]="10" [(selection)]="curItems" [(first)]="first" resizableColumns="true"
      datakey="id">
      <p-header>
        <div style="text-align: left;">链接列表</div>
      </p-header>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton style="float:left" icon="fa-plus" label="新增" (click)="addItem()">
          </button>

          <button type="button" pButton style="float:left" icon="fa-minus" label="删除" (click)="delItems()" [disabled]="curItems.length==0">
          </button>
        </div>
      </p-footer>

      <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
      <p-column field="id" header="ID"></p-column>
      <p-column field="name" header="链接名称"></p-column>
      <p-column field="desc" header="链接描述"></p-column>
      <p-column header="链接地址">
          <ng-template let-item="rowData" pTemplate="body">
            <a [href]="item.url" target="_blank">{{item.url}}</a>
          </ng-template>
      </p-column>


      <p-column styleClass="col-button" [style]="{'width':'48px'}">
        <ng-template let-item="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-edit" (click)="editItem(item)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

</div>
