<div class="business container">
  <div class="row">
    <span class="b-title">&nbsp;&nbsp;专利服务&nbsp;&nbsp;</span>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-cubes fa-5x"></i>
          <h3 class="panel-title">知识产权价值评议</h3>
        </div>
        <div class="panel-body">
          <span>技术含量最高，专利价值最大</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-ge fa-5x"></i>
          <h3 class="panel-title">知识产权规划管理</h3>
        </div>
        <div class="panel-body">
          <span>授权周期短，快速占领市场</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-ravelry fa-5x"></i>
          <h3 class="panel-title">规避设计咨询</h3>
        </div>
        <div class="panel-body">
          <span>快速保护产品的独特设计</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-object-ungroup fa-5x"></i>
          <h3 class="panel-title">技术项目分析</h3>
        </div>
        <div class="panel-body">
          <span>双重保障，同一技术两个申请</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-gg fa-5x"></i>
          <h3 class="panel-title">专利代理</h3>
        </div>
        <div class="panel-body">
          <span>安全，可靠，免费</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-asl-interpreting fa-5x"></i>
          <h3 class="panel-title">商标代理</h3>
        </div>
        <div class="panel-body">
          <span>合理的价值，最佳的伙伴</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-gg fa-5x"></i>
          <h3 class="panel-title">知识产权诉讼</h3>
        </div>
        <div class="panel-body">
          <span>安全，可靠，免费</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-asl-interpreting fa-5x"></i>
          <h3 class="panel-title">科技项目服务</h3>
        </div>
        <div class="panel-body">
          <span>合理的价值，最佳的伙伴</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
</div>
