<div class="business container">
  <div class="row">
    <span class="b-title">&nbsp;&nbsp;专利服务&nbsp;&nbsp;</span>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-cubes fa-5x"></i>
          <h3 class="panel-title">知识产权价值评议</h3>
        </div>
        <div class="panel-body">
          <span>准确、全面的大数据技术、法务、商务多维度价值评价</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-ge fa-5x"></i>
          <h3 class="panel-title">知识产权规划管理</h3>
        </div>
        <div class="panel-body">
          <span>科学、高效、专业的规划、布局，树立行业优势</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-ravelry fa-5x"></i>
          <h3 class="panel-title">规避设计咨询</h3>
        </div>
        <div class="panel-body">
          <span>分析目标技术和法律风险，为项目保驾护航</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-object-ungroup fa-5x"></i>
          <h3 class="panel-title">技术项目分析</h3>
        </div>
        <div class="panel-body">
          <span>新项目前景分析，提供专业参考</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-gg fa-5x"></i>
          <h3 class="panel-title">专利代理</h3>
        </div>
        <div class="panel-body">
          <span>有资质的代理机构提供专利申请、转让、国际申请等</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-asl-interpreting fa-5x"></i>
          <h3 class="panel-title">商标代理</h3>
        </div>
        <div class="panel-body">
          <span>资深代理机构提供商标注册、疑难事务等</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-cards-row">
    <div class="col-md-4 col-md-offset-2 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-gg fa-5x"></i>
          <h3 class="panel-title">知识产权诉讼</h3>
        </div>
        <div class="panel-body">
          <span>专业律师代理专利、商标、著作权、商业秘密等诉讼，胜诉率高</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 b-card">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-asl-interpreting fa-5x"></i>
          <h3 class="panel-title">科技项目服务</h3>
        </div>
        <div class="panel-body">
          <span>高企申报、各种科技项目申报服务</span>
          <br>
          <a href="#" class="btn btn-success consult-btn">立即咨询</a>
        </div>
      </div>
    </div>
  </div>
</div>
