/* You can add global styles to this file, and also import other style files */
.pat-frame{
  width:100%;
  padding-left: 180px;
  margin-top: 50px;
}

.pat-module {
  width: 100%;
  background-size: 100% auto;
  padding: 4px;
}

.pat-module .head{
  text-align: center;
}

.pat-module .head h1{
  line-height: 36px;
  font-size: 24px;
}

.pat-module .main{
  width: 100%;
  margin: 0px auto;
}
