<div class="news container">
  <div class="news-content">
    <span class="news-title">&nbsp;&nbsp;最新更新&nbsp;&nbsp;</span>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="news-item">
          <h5>电脑行业评估报告</h5>
          <p>尽管印度平板电脑市场今年第三季度同比创下4%的历史最大跌幅，联想集团在该季度却实现环比94%的增长幅度，以20.3%的市场占有率居印度平板电脑领导地位。平板电脑市场销售环比增长94%</p>
          <p>2017年第三季度，中国联想集团在印度平板电脑市场的销售环比增长94%，以20.3%的市场占有率居首位。</p>
          <p>2017-2022年平板电脑芯片市场行情监测及投资可行性研究报告统计，第三季度印度市场平板电脑发货量为94万台，环比增加38%。宏碁以16%的市场份额名列第二。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="news-item">
          <h5>电脑行业评估报告</h5>
          <p>尽管印度平板电脑市场今年第三季度同比创下4%的历史最大跌幅，联想集团在该季度却实现环比94%的增长幅度，以20.3%的市场占有率居印度平板电脑领导地位。平板电脑市场销售环比增长94%</p>
          <p>2017年第三季度，中国联想集团在印度平板电脑市场的销售环比增长94%，以20.3%的市场占有率居首位。</p>
          <p>2017-2022年平板电脑芯片市场行情监测及投资可行性研究报告统计，第三季度印度市场平板电脑发货量为94万台，环比增加38%。宏碁以16%的市场份额名列第二。</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="news-item">
          <h5>电脑行业评估报告</h5>
          <p>尽管印度平板电脑市场今年第三季度同比创下4%的历史最大跌幅，联想集团在该季度却实现环比94%的增长幅度，以20.3%的市场占有率居印度平板电脑领导地位。平板电脑市场销售环比增长94%</p>
          <p>2017年第三季度，中国联想集团在印度平板电脑市场的销售环比增长94%，以20.3%的市场占有率居首位。</p>
          <p>2017-2022年平板电脑芯片市场行情监测及投资可行性研究报告统计，第三季度印度市场平板电脑发货量为94万台，环比增加38%。宏碁以16%的市场份额名列第二。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="news-item">
          <h5>电脑行业评估报告</h5>
          <p>尽管印度平板电脑市场今年第三季度同比创下4%的历史最大跌幅，联想集团在该季度却实现环比94%的增长幅度，以20.3%的市场占有率居印度平板电脑领导地位。平板电脑市场销售环比增长94%</p>
          <p>2017年第三季度，中国联想集团在印度平板电脑市场的销售环比增长94%，以20.3%的市场占有率居首位。</p>
          <p>2017-2022年平板电脑芯片市场行情监测及投资可行性研究报告统计，第三季度印度市场平板电脑发货量为94万台，环比增加38%。宏碁以16%的市场份额名列第二。</p>
        </div>
      </div>
    </div>
  </div>
</div>
