.pat-home {
  display: block;
  background-color: #fff;
}

.pat-home .ad {
  width: 100%;
  background: url(/assets/images/home/ad1.jpg) no-repeat;
  background-size: 100% auto;
}

.pat-home .ad .context {
  height: 560px;
/* background-color:#fff; */
/* filter:Alpha(Opacity=60);opacity:0.6;  */
}

.pat-home .search {
  height: 80px;
  width: 100%;
  background-color: #ccc;
  text-align: center;
}

.pat-home .business {
  width: 100%;
  background-color: #003366;
  text-align: center;
}

.pat-home .team {
  height: 560px;
  background-color: #ccc;
}

.pat-home .doc {
  height: 560px;
  width: 100%;
  background-color: #fff;
}

/* search */
.search-input {
    min-width: 700px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #00cd63;
    vertical-align: middle;
}
.input-label {
    color: #4d4d4d;
    background-color: #f6f6f6;
    display: block;
    text-align: center;
    line-height: 44px;
    padding-left: 0;
    padding-right: 0;
}
.input-box-main {
    padding-left: 0;
    padding-right: 0;
}
.input-box {
    height: 44px;
    line-height: 44px;
    width: 100%;
    outline: none;
    border: 0;
    box-sizing: border-box;
    padding-right: 25px;
    text-indent: 15px;
}
.placeholder {
    color: #ccc;
}
.clean_btn {
    position: absolute;
    right: 8px;
    top: 16px;
    color: #000;
    cursor: pointer;
}
.search-btn-main {
    padding-left: 0;
    padding-right: 0;
}
.search_btn {
    color: #fff;
    background-color: #00cd63;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 44px;
}

/* business */
.b-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    border: 3px;
    border-color: #00cd63;
    border-top: none;
    border-bottom: none;
}

.b-cards-row {

}

.b-card {
    text-align: left;
}