.pat-home {
  display: block;
  background-color: #fff;
}

.pat-home .ad {
  width: 100%;
  background: url(/assets/images/home/ad1.jpg) no-repeat;
  background-size: 100% auto;
  -webkit-filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.pat-home .ad .context {
  height: 560px;
/* background-color:#fff; */
/* filter:Alpha(Opacity=60);opacity:0.6;  */
}

.pat-home .search {
  height: 80px;
  width: 100%;
  background-color: #003366;
  text-align: center;
}

.pat-home .business {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.pat-home .team {
  height: 820px;
  width: 100%;
  background-color: #003366;
  text-align: center;
  display: block;
}

.pat-home .news {
  height: 560px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: block;
}

/* search */
.search-input {
    min-width: 700px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #00cd63;
    vertical-align: middle;
}
.input-label {
    color: #4d4d4d;
    background-color: #f6f6f6;
    display: block;
    text-align: center;
    line-height: 44px;
    padding-left: 0;
    padding-right: 0;
}
.input-box-main {
    padding-left: 0;
    padding-right: 0;
}
.input-box {
    height: 44px;
    line-height: 44px;
    width: 100%;
    outline: none;
    border: 0;
    box-sizing: border-box;
    padding-right: 25px;
    text-indent: 15px;
}
.placeholder {
    color: #ccc;
}
.clean_btn {
    position: absolute;
    right: 8px;
    top: 16px;
    color: #000;
    cursor: pointer;
}
.search-btn-main {
    padding-left: 0;
    padding-right: 0;
}
.search_btn {
    color: #fff;
    background-color: #00cd63;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 44px;
}

/* business */
.b-title {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    line-height: 60px;
    border-top: #000 none 0px;
    border-left: #000 none 0px;
    border-right: #000 none 0px;
    border-bottom: #00cd63 solid 2px;
}

.b-cards-row {

}

.b-card {
    text-align: center;
}

.b-card .panel-body {
  display: block;
}

.consult-btn {
  margin-top: 20px;
}

/* team */
.team-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
  border-top: #000 none 0px;
  border-left: #000 none 0px;
  border-right: #000 none 0px;
  border-bottom: #00cd63 solid 2px;
}

.team-intro {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 25px;
}

.team-pic {
  height: 400px;
  background: url(/assets/images/home/team.jpg) no-repeat;
  background-size: 100% auto;
}

.team-leaders {
  padding-top: 15px;
  color: #fff;
}

/* news */
.news-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  line-height: 60px;
  border-top: #000 none 0px;
  border-left: #000 none 0px;
  border-right: #000 none 0px;
  border-bottom: #00cd63 solid 2px;
}

.news-item {
  height: 400px;
  border: #00cd63 solid 1px;
  padding: 10px;
}

.news-item > h1 {
  font-size: 24px;
}

.news-item > p {
  font-size: 14px;
  text-align: left;
}
