<app-header></app-header>

<div class="register">
  <a class="txt" href="#">
    <h1>第四代云服务器 全新上线</h1>
    <ul>
      <li>10倍性能提升，多场景规格族，最优性价比</li>
      <li>2666MT/s AVX 512 450万pps</li>
      <li>同配置价格最高下降48%，5年3折</li>
    </ul>
  </a>

  <div class="main">
    <div class="box">
      <form class="regform">
        <div class="title">用户注册</div>
        <div class="info">欢迎注册派拓源会员账号</div>
        <input type="text" placeholder="昵称" value="" />
        <input type="text" placeholder="手机号" value="" />
        <div class="pwdwrap">
          <input type="text" placeholder="验证码" />
          <button>获取验证码</button>
        </div>

        <!-- <button class="submit">登录</button> -->
        <a class="submit" href="index.html?page01" target="top">注册</a>

      </form>
    </div>

  </div>
</div>

<app-footer></app-footer>
